body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: mediumblue;
  color: #fff;
  width: 100%;
  height: auto;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  width: 100%;
  background-color: rgb(85, 212, 184);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: mediumblue;
  width: 100%;
  color: #fff;
  padding: 8px 0;
}

main div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

main ul {
  list-style-type: none;
}

.item {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  padding: 5px 7px;
  min-height: 40px;
  min-width: 400px;
  max-width: 600px;
  border-radius: 10px;
}

main li {
  margin-top: 10px;
}

.item input {
  width: 30px;
  height: 30px;
  background-color: whitesmoke;
}

.item > label {
  font-size: 1.2rem;
  margin-inline: 10px;
  flex-grow: 1;
}

.item svg {
  width: 25px;
  height: 25px;
  color: rgb(39, 173, 218);
  cursor: pointer;
  border: none;
  outline: none;
}

.item svg:hover {
  color: red;
}
